<mat-card class="todo-card" *ngIf="this.todo">
  <mat-card-header>
    <mat-card-title class="todo-card-owner">{{ this.todo.owner }}</mat-card-title>
    <mat-card-subtitle class="todo-card-status">{{ this.todo.status }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="!this.simple">
    <p>Category: <span class="todo-card-category">{{ todo.category }}</span></p>
    <p>ID: <span class="todo-card-ID">{{ todo._id }}</span></p>
    <p>Body: <span class="todo-card-body">{{ todo.body }}</span></p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

